@font-face {
  font-family: 'Redacted Script Light';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/redacted-script-light.woff') format('woff');
}
