body:not(.blindfolder-disabled) .u-photo {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/catsu.jpg');
}

body:not(.blindfolder-disabled) .u-photo img.avatar,
body:not(.blindfolder-disabled) .commit-author-section img,
body:not(.blindfolder-disabled) .avatar-parent-child img,
body:not(.blindfolder-disabled) .user-profile-mini-avatar img {
  visibility: hidden;
}

body:not(.blindfolder-disabled) .vcard-names,
body:not(.blindfolder-disabled) li[itemprop='homeLocation'] .p-label,
body:not(.blindfolder-disabled) .repohead .author,
body:not(.blindfolder-disabled) .commit-author-section a,
body:not(.blindfolder-disabled) .user-profile-bio,
body:not(.blindfolder-disabled) .vcard-details,
body:not(.blindfolder-disabled) .user-profile-sticky-bar strong {
  font-family: "Redacted Script Light";
}
