body:not(.blindfolder-disabled) .presence-entity__image {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/catsu.jpg') !important;
}

body:not(.blindfolder-disabled) .pv-top-card-section__name,
body:not(.blindfolder-disabled) .pv-top-card-section__school,
body:not(.blindfolder-disabled) .pv-top-card-section__location,
body:not(.blindfolder-disabled) .pv-entity__secondary-title,
body:not(.blindfolder-disabled) .pv-entity__location,
body:not(.blindfolder-disabled) .pv-contact-info__card-sub-heading {
  font-family: "Redacted Script Light" !important;
}

body:not(.blindfolder-disabled) .pv-entity__logo-img {
  visibility: hidden;
}

body:not(.blindfolder-disabled) .pv-highlight-section,
body:not(.blindfolder-disabled) .pv-recent-activity-section {
  display: none !important;
}
